In [ ]:
A:[:-1]

In [ ]:
A[:-1]

In [ ]:
K = 3%len(A)

In [ ]:
K

In [ ]:
A[-3:]

In [ ]:
A[:-3]

In [ ]:
A[:-3]+A[-3:]

In [ ]:
n = 2.3
int(n)

In [ ]:
(1-5)//2

In [ ]:
(1-5)%2

In [ ]:
return (1-5)//2+0

In [ ]:
(1-5)//2 + 0

In [ ]:
a= [1,2,3]
b=list(a)
a is b

In [ ]:
a = (1,2,3)

In [ ]:
b=tuple(a)

In [ ]:
a is b

In [ ]:
A

In [ ]:
A=[3,8,9,7,6]

In [ ]:
A[0]

In [ ]:
A.sort()

In [ ]:
A

In [ ]:
range(0,5)

In [ ]:
x= range(0,5)

In [ ]:
x

In [ ]:
A=[0,1,2,4,3]

In [ ]:
A[0]

In [ ]:
A[:0]

In [ ]:
A[:1]

In [ ]:
A[:1]

In [ ]:
A[1:]

In [ ]:
A[1:-1]

In [ ]:
for number in A[1:-1]:
    print (number)

In [ ]:
number in A[1:-1]

In [ ]:
set={"apple","banana"}

In [ ]:
print set

In [ ]:
print(set)

In [ ]:
set.add("orange")

In [ ]:
print(set)

In [ ]:
set.update(["mango","grapes"])

In [ ]:
print(set)

In [ ]:
set{1,2}

In [ ]:
set(A)={1,3,2}

In [ ]:
print(set('Python'))

In [ ]:
print(set())

In [1]:
print(range(0,2))

range(0, 2)

In [2]:
x=range(0,2)

In [3]:
x

range(0, 2)

In [4]:
for i in x: print (i)

0
1

In [5]:
set(a)={1,3,2,2}

SyntaxError: can't assign to function call (<ipython-input-5-25db181d7477>, line 1)

In [6]:
a = {1,3,2,2,4}

In [7]:
a

{1, 2, 3, 4}

In [8]:
a(2)

TypeError: 'set' object is not callable

In [9]:
a.at(2)

AttributeError: 'set' object has no attribute 'at'

In [10]:
A=[1,3,1,4,2,3,5]

In [11]:
A.index(1)

0

In [12]:
A.index(5)

6

In [13]:
n = [-1]*6

In [14]:
n

[-1, -1, -1, -1, -1, -1]

In [15]:
A = [1 ,3 ,1 ,4 ,2 ,3, 5, 4]

In [16]:
enumerate(A)

In [17]:
print (enumerate(A)
      )

<enumerate object at 0x10bb65048>

In [18]:
for idx,i in enumerate(A): print(idx,i)

0 1
1 3
2 1
3 4
4 2
5 3
6 5
7 4

In [19]:
n[0]

-1

In [20]:
n[1]

-1

In [21]:
for idx ,i in enumerate(A):
        if n[i] == -1:
            n[i] = idx
        else:
            continue

In [22]:
print(n)

[-1, 0, 4, 1, 3, 6]

In [1]:
i for i in range(10)

SyntaxError: invalid syntax (<ipython-input-1-b07d337502b5>, line 1)

In [2]:
x=[i for i in range(10)]

In [3]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
x=[x**2 for x in range(10)]

In [5]:
x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]